.App {
  text-align: center;
}

input{
  box-shadow: -1px 1px  5px 3px rgba(0, 0, 0, .3);
}

#practice-section{
  border: 1px solid black;
  padding: 20px;
  box-sizing: border-box;
  margin: 30px;
}

#practice-input{
  box-shadow: 2px -1px 4px 2px rgba(0, 0, 0, .3);
  padding: 5px 10px;
  margin: 10px;
}
